html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: auto;
  max-width: 100%;
  text-align: center;
}

h1 {
  color: rgb(139,27,29);
  font-size: 34px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1em;
  margin-bottom: -15px;
}

h2 {
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1em;
  padding-bottom: 25px;
  color: black;
}

.fields {
  width: 80%;
  text-align: center;
  margin: auto;
  margin-bottom: 75px;
}

.start {
  text-align: center;
  margin-top: 100px;
  background-color: white;
  padding: 50px;
}
.potentialEmployers {
  margin-top: 95px;
}

.education {
  background-color: rgb(139,27,29);
  padding: 50px;
}
.education h1 {
  color: white;
}
.degree {
  max-width: 55%;
  margin: auto;
}

.dreamjob {
  text-align: center;
  background-color: white;
  padding: 50px;
}


/*Radio Button Styling*/
input[type="radio"], input[type="checkbox"] {
  display: none;
}

input[type="radio"] + span {
  background-color: white;
  border: 1px solid rgb(139,27,29);
  margin-left: 5px;
  margin-right: 5px;
  padding: 20px 40px;
}

input[type="radio"]:checked + span {
  color: white;
  background-color: rgb(139,27,29);
  margin-left: 5px;
  margin-right: 5px;
  padding: 20px 40px;
}

.radioSelect {
  margin-bottom: 45px;
  margin-top: 25px;
}
