<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="custom.css">
    <link rel="stylesheet" type="text/css" href="jquery.css">
    <link rel="stylesheet" type="text/css" href="layout.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:600,400' rel='stylesheet' type='text/css'>
  </head>

  <body ng-app="talk">
    <div ng-controller="FormController">
      <div class="header">
      </div>
      <form name="myFormNg" ng-submit="myForm.submitTheForm()">
        <div class="start">
        <h1>TO START...</h1>
        <h2>we need your full name</h2>
          <div class="fields">
            <div class="col-md-6 form-group">
              <input class="form-control form-control-lg ng-pristine ng-invalid ng-invalid-required" type="text" name="firstName" ng-model="myForm.firstName" placeholder="First Name" required>
            </div>
            <div class="col-md-6 form-group">
              <input type="text" class="form-control form-control-lg ng-pristine ng-invalid ng-invalid-required" name="lastName"  ng-model="myForm.lastName" placeholder="Last Name" required>
            </div>
          </div>
          <h2 class="potentialEmployers">and how potential employers can contact you</h2>
          <div class="fields">
            <div class="col-md-6 form-group">
              <input class="form-control form-control-lg ng-pristine ng-invalid ng-invalid-required" type="email" name="email" ng-model="myForm.email" placeholder="Email Address" required>
            </div>
            <div class="col-md-6 form-group">
              <input type="text" class="form-control form-control-lg ng-pristine ng-invalid ng-invalid-required" name="phoneNumber"  ng-model="myForm.phoneNumber" placeholder="Phone Number" required>
            </div>
          </div>
        </div>

        <div class="education">
          <h1>NOW FOR YOUR EDUCATION...</h1>
          <h2>I'm majoring in</h2>
          <div class="degree">
            <input type="text" class="form-group form-control form-control-lg ng-pristine ng-invalid ng-invalid-required" name="degree" ng-model="myForm.degree" placeholder="Degree (Specialisation)" required> <br/>
          </div>
        </div>

        <div class="dreamjob">
          <h1>AND MOST IMPORTANTLY... DREAM JOB!</h1>
          <h2>I'd like to work for</h2>
          <div class="radioSelect" required>
            <label class="bpo">
              <input type="radio" name="dreamJob" ng-model="myForm.job" ng-options="obj.id as obj.name for obj in myForm.options" value="BPO">
              <span>Business Process Outsourcing (BPO)</span>
            </label>
            <label class="hrm">
              <input type="radio" name="dreamJob" ng-model="myForm.job" ng-options="obj.id as obj.name for obj in myForm.options" value="HRM">
              <span>Hotel & Restaurant Management (HRM)</span>
            </label>
          </div>
          <div class="radioSelect">
            <label class="other">
              <input type="radio" name="dreamJob" ng-model="myForm.job" ng-options="obj.id as obj.name for obj in myForm.options" value="Other">
              <span>Other</span>
            </label>
          </div>
        </div>

        <div class="legalSection">
          <h1>LET'S NOT FORGET THE LEGAL STUFF...</h1>
          <h2>Please read and agree to our <a href="">terms & conditions</a>.</h2>
          <div class="radioSelect">
            <label class="termsConditions">
              <input type="radio" name="termsConditions" ng-model="myForm.termsConditions" ng-options="obj.id as obj.name for obj in myForm.temsConditions" value="termsConditions" required>
              <span>I AGREE TO THE ABOVE TERMS AND CONDITIONS</span>
            </label>
          </div>
        </div>

        <input class="button" type="submit" value="SUBMIT" />
      </form>

    </div>

    <div class="footer">
      <div class="logos">
        <a href="http://www.lpu.edu.ph/"><img class="lyceumLogo" src="http://upload.wikimedia.org/wikipedia/en/1/1e/Seal_of_Lyceum_of_the_Philippines_University.svg" href=""></a>
        <a href="http://www.talkpush.com"><img class="talkpushLogo" src="http://www.talkpush.com/wp-content/uploads/2014/12/logo-website-01.png"></a>
      </div>

      <div class="socialMedia">
        <a href="https://www.facebook.com/letthetalenttalk"><img class="facebook" src="../../images/facebook-128.png" style="max-width: 60px;"></a>

        <a href="https://twitter.com/Talkpush"><img class="twitter" src="../../images/twitter-128.png" style="max-width: 60px;"></a>

        <a href="https://www.linkedin.com/company/talkpush"><img class="linkedin" src="../../images/linkedin-128.png" style="max-width: 60px;"></a>
      </div>
    </div>

    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </body>
</html>